aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
black==21.9b0
chardet==4.0.0
click==8.0.1
colorama==0.4.4
decorator==5.1.0
discord.py==1.7.3
idna==3.2
multidict==5.1.0
mypy-extensions==0.4.3
pathspec==0.9.0
platformdirs==2.4.0
python-dotenv==0.19.0
regex==2021.9.24
six==1.16.0
tomli==1.2.1
typing-extensions==3.10.0.2
validators==0.18.2
yarl==1.6.3
youtube-dl==2021.6.6